<% content_for :title, "Editing scouting report" %>

<h1>Editing scouting report</h1>

<%= render "form", scouting_report: @scouting_report %>

<br>

<div>
  <%= link_to "Show this scouting report", @scouting_report %> |
  <%= link_to "Back to scouting reports", scouting_reports_path %>
</div>
